body {
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; // IE
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration:none;
} 

.card-suspension:hover {
  @media screen and (min-width: 1000px) {
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 10px 20px rgb(44 62 161 / 6%), 0 20px 40px rgb(27 35 80 / 5%);
  }
}

// 以下是代码块的行号样式
pre.hljs {
  padding: 8px 2px;
  border-radius: 5px;
  code {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
  }
  ol {
    list-style: decimal;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    li {
      list-style: decimal-leading-zero;
      position: relative;
      padding-left: 10px;
      .line-num {
        position: absolute;
        // left: -40px;
        top: 0;
        width: 40px;
        height: 100%;
      }
      &::marker {
        color: #409EFF;
      }
    }
  }
  b.name {
    margin-right: 20px;
    color: #409EFF;
    pointer-events: none;
  }
}
