body {
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; // IE
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration:none;
} 

.card-suspension:hover {
  @media screen and (min-width: 1000px) {
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: 0 10px 20px rgb(44 62 161 / 6%), 0 20px 40px rgb(27 35 80 / 5%);
  }
}

// 以下是代码块的行号样式
pre.hljs {
  padding: 0 2px 2px 2px;
  border-radius: 5px;
  &::before {
    content: "";
    display: block;
    height: 30px;
    width: 100%;
    background: url('../assets/mac-operation.png') 10px 10px no-repeat;
    background-size: 40px;
  }
  code {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    overflow-x: auto;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
    &::-webkit-scrollbar {
      height: 4px;
    }
    &::-webkit-scrollbar-track {
      border-radius:10px;
      background-color:#F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius:10px;
      background-color:#489ff7;
    }
  }
  ol {
    list-style: decimal;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    li {
      list-style: decimal-leading-zero;
      padding-left: 10px;
      .line-num {
        top: 0;
        width: 40px;
        height: 100%;
      }
      &::marker {
        color: #409EFF;
      }
    }
  }
  b.name {
    margin-right: 20px;
    color: #409EFF;
    pointer-events: none;
  }
}
