@font-face {
  font-family: "iconfont"; /* Project id 3204000 */
  src: url('//at.alicdn.com/t/font_3204000_l9laot2ce0p.woff2?t=1649860532821') format('woff2'),
       url('//at.alicdn.com/t/font_3204000_l9laot2ce0p.woff?t=1649860532821') format('woff'),
       url('//at.alicdn.com/t/font_3204000_l9laot2ce0p.ttf?t=1649860532821') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangyiye:before {
  content: "\e7d1";
}

.icon-xiayiye:before {
  content: "\e7d9";
}

.icon-caidan:before {
  content: "\e60e";
}