@font-face {
  font-family: "iconfont"; /* Project id 3204000 */
  src: url('//at.alicdn.com/t/font_3204000_q6dh8gvnred.woff2?t=1650727117254') format('woff2'),
       url('//at.alicdn.com/t/font_3204000_q6dh8gvnred.woff?t=1650727117254') format('woff'),
       url('//at.alicdn.com/t/font_3204000_q6dh8gvnred.ttf?t=1650727117254') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caozuo_qipao:before {
  content: "\e683";
}

.icon-qipao:before {
  content: "\e600";
}

.icon-icon--fanhuidingbu:before {
  content: "\e623";
}

.icon-guanbi:before {
  content: "\e7cb";
}

.icon-shangyiye:before {
  content: "\e7d1";
}

.icon-xiayiye:before {
  content: "\e7d9";
}

.icon-caidan:before {
  content: "\e60e";
}
